<!DOCTYPE HTML>

<html>
	<head>
		<title>PersonaShop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{url_for('static',filename='magicscroll/magicscroll.css')}}"/>
         <script src="{{url_for('static',filename='magicscroll/magicscroll.js')}}"></script>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<noscript><link rel="stylesheet" href="{{url_for('static',filename='css/noscript.css')}}" /></noscript>
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}" />

	</head>
	<body class="is-preload">


		<!-- Wrapper -->



			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="index.html" class="logo">
									<span class="symbol"><img src="{{ url_for('static',filename='images/shopping.svg')}}" alt="" /></span><span class="title">PersonaShop</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{url_for('home')}}">Home</a></li>
							<li><a href="{{url_for('display',name = 'Male')}}">Men</a></li>
							<li><a href="{{url_for('display',name = 'Female')}}">Women</a></li>
							<li><a href="#">Kids</a></li>
							{% if not current_user.is_authenticated: %}
							<li><a href="{{url_for('signup')}}">Login/Signup</a></li>
							{% else: %}
							 <li><a href="{{ url_for('logout') }}">Log Out</a></li>
							{% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Discover Endless Possibilities in Online with <br />
								PersonaShop</h1>
								<p>Your Personalized Shopping Experience Awaits Online</p>

							</header>
							<h3 style="text-align:center">Hey {{current_user.name }}!!! Here are some hot deals</h3>
							<div   class="MagicScroll" data-options="autoplay: 1000; step: 1; mode: carousel; height: 275;">
           {% for img in p %}
			<a href="{{ url_for('show_product', p_id=img.p_id) }}"> <img src={{img.p_image}}></a>
     {% endfor %}
</div>
							<br>
							<br>


							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="https://media.istockphoto.com/id/488160041/photo/mens-shirt.jpg?s=612x612&w=0&k=20&c=xVZjKAUJecIpYc_fKRz_EB8HuRmXCOOPOtZ-ST6eFvQ=" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Shirt')}}">
										<h2>Men's shirts</h2>
										<div class="content">
											<p>Formals and casuals</p>
										</div>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="https://m.media-amazon.com/images/I/51zi-+aRReL._UX679_.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'T-Shirt')}}">
										<h2>Men's T-shirts</h2>
										<div class="content">
											<p>Formals and casuals</p>
										</div>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="https://m.media-amazon.com/images/I/71EDUZQ48PL._UX679_.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Jeans')}}">
										<h2>Men's Jeans</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>
								<article class="style4">
									<span class="image">
										<img src="https://m.media-amazon.com/images/I/6113wVBRBoL._UX679_.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Hoodies')}}">
										<h2>Men's Hoodies</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>
									<article class="style5">
									<span class="image">
										<img src="https://assets0.mirraw.com/images/10165723/White_Top_Front_zoom.jpg?1649848572" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Top')}}">
										<h2>Women's Tops</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>
									<article class="style6">
									<span class="image">
										<img src="https://cdn.pixelbin.io/v2/black-bread-289bfa/XUefL6/wrkr/t.resize(h:490,w:490)/data/mothercare/12-jan-2023/410266587001_1.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Pants')}}">
										<h2>Women's Pants</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>



								<article class="style2">
									<span class="image">
										<img src="https://m.media-amazon.com/images/I/61RyHrDT2cL._UX679_.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Kurti')}}">
										<h2>Kurti's</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>


								<article class="style2">
									<span class="image">
										<img src="https://m.media-amazon.com/images/I/91Z16Jh83WL._SX466_.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Sweater')}}">
										<h2>Women's Sweater</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>

								<article class="style1">
									<span class="image">
										<img src="https://indian-retailer.s3.ap-south-1.amazonaws.com/s3fs-public/article5271.jpg" alt="" />
									</span>
									<a href="{{url_for('display_items',name = 'Kurti')}}">
										<h2>Kid's Wear</h2>
										<div class="content">
											<p>casuals</p>
										</div>
									</a>
								</article>



							</section>
						</div>
					</div>
				<div   class="MagicScroll" data-options="autoplay: 1000; step: 1; mode: carousel; height: 275;">
           {% for img in l %}
			<a href="{{ url_for('show_product', p_id=img.p_id) }}"> <img src={{img.p_image}}></a>
     {% endfor %}
</div>

				<!-- Footer -->
					<footer id="footer">

					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/browser.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/breakpoints.min.js')}}"></script>
		<script src="{{url_for('static',filename='js/util.js')}}"></script>
		<script src="{{url_for('static',filename='js/main.js')}}"></script>
		<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

	</body>
</html>
