<!DOCTYPE html>
<html>
<head>
    <title>Get User Location</title>
</head>
<body>


<script>
        // Get user's location
        navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Send location to Flask server using AJAX
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/get_location", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({ "latitude": latitude, "longitude": longitude }));
        });
    </script>

</body>
</html>
